In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import time

In [4]:
# Import the census data into a pandas DataFrame
census_nativehawaiian_2000_pd = pd.read_csv("census_data/NativeHawaiian/DEC_00_SF3_P151E_with_ann.csv")

# Preview the data
census_nativehawaiian_2000_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $75,000 to $99,999","Margin of Error; Total: - $75,000 to $99,999","Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more"
0,0500000US01001,1001,"Autauga County, Alabama",0,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN
1,0500000US01003,1003,"Baldwin County, Alabama",8,NaN,0,NaN,0,NaN,0,...,8,NaN,0,NaN,0,NaN,0,NaN,0,NaN
2,0500000US01005,1005,"Barbour County, Alabama",0,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN
3,0500000US01007,1007,"Bibb County, Alabama",0,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN
4,0500000US01009,1009,"Blount County, Alabama",13,NaN,0,NaN,7,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN

In [5]:
census_nativehawaiian_2000_pd["Year"]="2000"
census_nativehawaiian_2000_pd["Race"]="NativeHawaiian"
census_nativehawaiian_2000_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more",Year,Race
0,0500000US01001,1001,"Autauga County, Alabama",0,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,2000,NativeHawaiian
1,0500000US01003,1003,"Baldwin County, Alabama",8,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,2000,NativeHawaiian
2,0500000US01005,1005,"Barbour County, Alabama",0,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,2000,NativeHawaiian
3,0500000US01007,1007,"Bibb County, Alabama",0,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,2000,NativeHawaiian
4,0500000US01009,1009,"Blount County, Alabama",13,NaN,0,NaN,7,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,2000,NativeHawaiian

In [6]:
# Import the census data into a pandas DataFrame
census_nativehawaiian_2005_pd = pd.read_csv("census_data/NativeHawaiian/ACS_05_EST_B19001E_with_ann.csv")

# Preview the data
census_nativehawaiian_2005_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $75,000 to $99,999","Margin of Error; Total: - $75,000 to $99,999","Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more"
0,0500000US06037,6037,"Los Angeles County, California",8890,1315,1001,652,157,186,455,...,1848,1080,605,443,516,484,367,241,124,141
1,0500000US15001,15001,"Hawaii County, Hawaii",4489,868,478,239,300,252,165,...,479,274,277,210,168,143,31,55,133,196
2,0500000US15003,15003,"Honolulu County, Hawaii",18774,1822,1968,734,1198,543,1131,...,2314,663,1656,624,859,381,437,267,159,155

In [7]:
census_nativehawaiian_2005_pd["Year"]="2005"
census_nativehawaiian_2005_pd["Race"]="NativeHawaiian"
census_nativehawaiian_2005_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more",Year,Race
0,0500000US06037,6037,"Los Angeles County, California",8890,1315,1001,652,157,186,455,...,605,443,516,484,367,241,124,141,2005,NativeHawaiian
1,0500000US15001,15001,"Hawaii County, Hawaii",4489,868,478,239,300,252,165,...,277,210,168,143,31,55,133,196,2005,NativeHawaiian
2,0500000US15003,15003,"Honolulu County, Hawaii",18774,1822,1968,734,1198,543,1131,...,1656,624,859,381,437,267,159,155,2005,NativeHawaiian

In [8]:
# Import the census data into a pandas DataFrame
census_nativehawaiian_2008_pd = pd.read_csv("census_data/NativeHawaiian/ACS_08_1YR_B19001E_with_ann.csv")

# Preview the data
census_nativehawaiian_2008_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $75,000 to $99,999","Margin of Error; Total: - $75,000 to $99,999","Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more"
0,0500000US06037,6037,"Los Angeles County, California",7066,1037,766,442,189,202,51,...,766,396,1071,550,541,364,177,238,113,136
1,0500000US15001,15001,"Hawaii County, Hawaii",5480,877,474,297,267,196,410,...,952,429,665,381,332,339,0,275,75,118
2,0500000US15003,15003,"Honolulu County, Hawaii",19851,1474,1361,630,636,478,1386,...,2945,842,2195,655,967,511,818,349,1115,589

In [9]:
census_nativehawaiian_2008_pd["Year"]="2008"
census_nativehawaiian_2008_pd["Race"]="NativeHawaiian"
census_nativehawaiian_2008_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more",Year,Race
0,0500000US06037,6037,"Los Angeles County, California",7066,1037,766,442,189,202,51,...,1071,550,541,364,177,238,113,136,2008,NativeHawaiian
1,0500000US15001,15001,"Hawaii County, Hawaii",5480,877,474,297,267,196,410,...,665,381,332,339,0,275,75,118,2008,NativeHawaiian
2,0500000US15003,15003,"Honolulu County, Hawaii",19851,1474,1361,630,636,478,1386,...,2195,655,967,511,818,349,1115,589,2008,NativeHawaiian

In [10]:
# Import the census data into a pandas DataFrame
census_nativehawaiian_2010_pd = pd.read_csv("census_data/NativeHawaiian/ACS_10_1YR_C19001E_with_ann.csv")

# Preview the data
census_nativehawaiian_2010_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $75,000 to $99,999","Margin of Error; Total: - $75,000 to $99,999","Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more"
0,0500000US06001,6001,"Alameda County, California",3175,680,208,259,0,294,393,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0500000US06037,6037,"Los Angeles County, California",6306,1077,524,331,333,321,583,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0500000US06067,6067,"Sacramento County, California",3705,727,211,180,223,197,106,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0500000US15001,15001,"Hawaii County, Hawaii",5709,837,921,460,225,159,1100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0500000US15003,15003,"Honolulu County, Hawaii",20889,1600,1016,423,649,449,1498,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
census_nativehawaiian_2010_pd["Year"]="2010"
census_nativehawaiian_2010_pd["Race"]="NativeHawaiian"
census_nativehawaiian_2010_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more",Year,Race
0,0500000US06001,6001,"Alameda County, California",3175,680,208,259,0,294,393,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010,NativeHawaiian
1,0500000US06037,6037,"Los Angeles County, California",6306,1077,524,331,333,321,583,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010,NativeHawaiian
2,0500000US06067,6067,"Sacramento County, California",3705,727,211,180,223,197,106,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010,NativeHawaiian
3,0500000US15001,15001,"Hawaii County, Hawaii",5709,837,921,460,225,159,1100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010,NativeHawaiian
4,0500000US15003,15003,"Honolulu County, Hawaii",20889,1600,1016,423,649,449,1498,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010,NativeHawaiian

In [12]:
# Import the census data into a pandas DataFrame
census_nativehawaiian_2013_pd = pd.read_csv("census_data/NativeHawaiian/ACS_13_1YR_B19001E_with_ann.csv")

# Preview the data
census_nativehawaiian_2013_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $75,000 to $99,999","Margin of Error; Total: - $75,000 to $99,999","Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more"
0,0500000US06001,6001,"Alameda County, California",3774,689,217,320,128,208,235,...,583,368,374,293,254,181,193,177,400,248
1,0500000US06037,6037,"Los Angeles County, California",6601,1076,340,254,444,341,126,...,783,457,282,195,378,333,131,143,238,194
2,0500000US15001,15001,"Hawaii County, Hawaii",7264,1200,1507,889,304,233,262,...,1065,548,549,533,172,166,158,114,33,42
3,0500000US15003,15003,"Honolulu County, Hawaii",20922,1696,1557,565,787,419,1169,...,2266,710,2428,689,1518,553,1507,438,826,328
4,0500000US15009,15009,"Maui County, Hawaii",4651,788,278,210,131,164,21,...,705,285,170,137,167,181,265,221,211,219

In [13]:
census_nativehawaiian_2013_pd["Year"]="2013"
census_nativehawaiian_2013_pd["Race"]="NativeHawaiian"
census_nativehawaiian_2013_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more",Year,Race
0,0500000US06001,6001,"Alameda County, California",3774,689,217,320,128,208,235,...,374,293,254,181,193,177,400,248,2013,NativeHawaiian
1,0500000US06037,6037,"Los Angeles County, California",6601,1076,340,254,444,341,126,...,282,195,378,333,131,143,238,194,2013,NativeHawaiian
2,0500000US15001,15001,"Hawaii County, Hawaii",7264,1200,1507,889,304,233,262,...,549,533,172,166,158,114,33,42,2013,NativeHawaiian
3,0500000US15003,15003,"Honolulu County, Hawaii",20922,1696,1557,565,787,419,1169,...,2428,689,1518,553,1507,438,826,328,2013,NativeHawaiian
4,0500000US15009,15009,"Maui County, Hawaii",4651,788,278,210,131,164,21,...,170,137,167,181,265,221,211,219,2013,NativeHawaiian

In [14]:
# Import the census data into a pandas DataFrame
census_nativehawaiian_2016_pd = pd.read_csv("census_data/NativeHawaiian/ACS_16_1YR_B19001E_with_ann.csv")

# Preview the data
census_nativehawaiian_2016_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $75,000 to $99,999","Margin of Error; Total: - $75,000 to $99,999","Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more"
0,0500000US06037,6037,"Los Angeles County, California",5967,764,145,180,139,166,85,...,727,411,695,364,684,410,331,247,132,150
1,0500000US15001,15001,"Hawaii County, Hawaii",7535,1138,565,362,455,307,503,...,478,388,750,420,191,178,71,59,199,208
2,0500000US15003,15003,"Honolulu County, Hawaii",22345,1821,2011,922,1007,529,484,...,3389,989,1574,564,1058,407,1143,627,866,346
3,0500000US15009,15009,"Maui County, Hawaii",5636,906,707,405,558,379,269,...,576,319,483,295,587,495,133,131,423,399
4,0500000US32003,32003,"Clark County, Nevada",4989,846,571,513,145,141,283,...,568,281,780,349,182,212,76,89,144,193

In [15]:
census_nativehawaiian_2016_pd["Year"]="2016"
census_nativehawaiian_2016_pd["Race"]="NativeHawaiian"
census_nativehawaiian_2016_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more",Year,Race
0,0500000US06037,6037,"Los Angeles County, California",5967,764,145,180,139,166,85,...,695,364,684,410,331,247,132,150,2016,NativeHawaiian
1,0500000US15001,15001,"Hawaii County, Hawaii",7535,1138,565,362,455,307,503,...,750,420,191,178,71,59,199,208,2016,NativeHawaiian
2,0500000US15003,15003,"Honolulu County, Hawaii",22345,1821,2011,922,1007,529,484,...,1574,564,1058,407,1143,627,866,346,2016,NativeHawaiian
3,0500000US15009,15009,"Maui County, Hawaii",5636,906,707,405,558,379,269,...,483,295,587,495,133,131,423,399,2016,NativeHawaiian
4,0500000US32003,32003,"Clark County, Nevada",4989,846,571,513,145,141,283,...,780,349,182,212,76,89,144,193,2016,NativeHawaiian

In [18]:
# Concatenate dataframes]
census_nativehawain_total_pd = pd.concat([census_nativehawaiian_2000_pd, census_nativehawaiian_2005_pd,census_nativehawaiian_2008_pd, census_nativehawaiian_2010_pd, census_nativehawaiian_2013_pd, census_nativehawaiian_2016_pd], ignore_index=True)
census_nativehawain_total_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more",Year,Race
0,0500000US01001,1001,"Autauga County, Alabama",0,NaN,0,NaN,0,NaN,0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,2000,NativeHawaiian
1,0500000US01003,1003,"Baldwin County, Alabama",8,NaN,0,NaN,0,NaN,0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,2000,NativeHawaiian
2,0500000US01005,1005,"Barbour County, Alabama",0,NaN,0,NaN,0,NaN,0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,2000,NativeHawaiian
3,0500000US01007,1007,"Bibb County, Alabama",0,NaN,0,NaN,0,NaN,0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,2000,NativeHawaiian
4,0500000US01009,1009,"Blount County, Alabama",13,NaN,0,NaN,7,NaN,0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,2000,NativeHawaiian

In [17]:
# Save Data to csv
census_nativehawain_total_pd.to_csv("census_data/census_nativehawain_total_pd.csv")