In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import time

In [12]:
# Import the census data into a pandas DataFrame
census_AIAN_2000_pd = pd.read_csv("census_data/AIAN/2000_AIAN_cleaned .csv")

# Preview the data
census_AIAN_2000_pd.head()

,CountyID,CountyName,TotalPopulation,"Less than $10,000","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999","$35,000 to $39,999",...,"$45,000 to $49,999","$50,000 to $59,999","$60,000 to $74,999","$75,000 to $99,999","$100,000 to $124,999","$125,000 to $149,999","$150,000 to $199,999","$200,000 or more",Year,Race
0,2020,"Anchorage Municipality, Alaska",8091,837,939,363,222,748,585,475,...,405,632,954,346,489,492,58,408,2000,AIAN
1,4001,"Apache County, Arizona",12081,3130,1404,794,1152,553,790,476,...,303,890,620,780,166,176,35,25,2000,AIAN
2,4005,"Coconino County, Arizona",8367,1183,405,473,1000,847,557,872,...,439,670,393,606,187,46,159,0,2000,AIAN
3,4013,"Maricopa County, Arizona",20744,2536,947,1460,2111,1323,2227,1938,...,435,2307,1837,1945,457,244,104,55,2000,AIAN
4,4017,"Navajo County, Arizona",13271,3975,1255,707,1498,748,1117,412,...,336,822,1021,337,224,163,223,79,2000,AIAN

In [13]:
census_AIAN_2005_pd = pd.read_csv("census_data/AIAN/2005_AIAN_cleaned .csv")
census_AIAN_2005_pd.head()

,CountyID,CountyName,TotalPopulation,"Less than $10,000","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999","$35,000 to $39,999",...,"$45,000 to $49,999","$50,000 to $59,999","$60,000 to $74,999","$75,000 to $99,999","$100,000 to $124,999","$125,000 to $149,999","$150,000 to $199,999","$200,000 or more",Year,Race
0,2020,"Anchorage Municipality, Alaska",5170,688,187,211,196,91,307,404,...,92,577,332,551,738,259,243,43,2005,AIAN
1,4001,"Apache County, Arizona",13343,4506,1625,670,746,1059,948,865,...,66,831,708,673,72,15,0,72,2005,AIAN
2,4005,"Coconino County, Arizona",8975,1771,651,944,607,630,419,651,...,401,836,834,602,357,0,73,0,2005,AIAN
3,4013,"Maricopa County, Arizona",20043,2270,2522,1570,1360,1670,1599,1077,...,649,1176,1771,1835,808,446,133,0,2005,AIAN
4,4017,"Navajo County, Arizona",12953,3664,936,1001,1331,1179,1350,797,...,269,582,478,367,147,131,0,0,2005,AIAN

In [14]:
census_AIAN_2008_pd = pd.read_csv("census_data/AIAN/2008_AIAN_cleaned.csv")

# Preview the data
census_AIAN_2008_pd.head()

,CountyID,CountyName,TotalPopulation,"Less than $10,000","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999","$35,000 to $39,999",...,"$45,000 to $49,999","$50,000 to $59,999","$60,000 to $74,999","$75,000 to $99,999","$100,000 to $124,999","$125,000 to $149,999","$150,000 to $199,999","$200,000 or more",Year,Race
0,2020,"Anchorage Municipality, Alaska",4764,173,351,304,183,155,634,399,...,222,399,273,772,168,224,36,212,2008,AIAN
1,4001,"Apache County, Arizona",10602,3243,886,718,721,486,462,677,...,519,614,554,639,280,182,48,0,2008,AIAN
2,4005,"Coconino County, Arizona",9610,1492,586,611,552,276,1133,348,...,353,894,738,1360,404,180,0,0,2008,AIAN
3,4013,"Maricopa County, Arizona",19568,2415,967,1081,1595,827,1228,1328,...,418,1206,2255,3098,1030,502,301,151,2008,AIAN
4,4017,"Navajo County, Arizona",13498,2248,851,1159,990,985,844,1114,...,485,903,823,937,530,159,290,150,2008,AIAN

In [6]:
# Import the census data into a pandas DataFrame
census_AIAN_2010_pd = pd.read_csv("census_data/AIAN/2010_AIAN_cleaned.csv")

# Preview the data
census_AIAN_2010_pd.head()

,CountyID,CountyName,TotalPopulation,"Less than $10,000","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999","$35,000 to $39,999",...,"$45,000 to $49,999","$50,000 to $59,999","$60,000 to $74,999","$75,000 to $99,999","$100,000 to $124,999","$125,000 to $149,999","$150,000 to $199,999","$200,000 or more",Year,Race
0,2020,"Anchorage Municipality, Alaska",8091,837,939,363,222,748,585,475,...,405,632,954,346,489,492,58,408,2010,AIAN
1,4001,"Apache County, Arizona",12081,3130,1404,794,1152,553,790,476,...,303,890,620,780,166,176,35,25,2010,AIAN
2,4005,"Coconino County, Arizona",8367,1183,405,473,1000,847,557,872,...,439,670,393,606,187,46,159,0,2010,AIAN
3,4013,"Maricopa County, Arizona",20744,2536,947,1460,2111,1323,2227,1938,...,435,2307,1837,1945,457,244,104,55,2010,AIAN
4,4017,"Navajo County, Arizona",13271,3975,1255,707,1498,748,1117,412,...,336,822,1021,337,224,163,223,79,2010,AIAN

In [7]:
# Import the census data into a pandas DataFrame
census_AIAN_2013_pd = pd.read_csv("census_data/AIAN/2013_AIAN_cleaned .csv")

# Preview the data
census_AIAN_2013_pd.head()

,CountyID,CountyName,TotalPopulation,"Less than $10,000","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999","$35,000 to $39,999",...,"$45,000 to $49,999","$50,000 to $59,999","$60,000 to $74,999","$75,000 to $99,999","$100,000 to $124,999","$125,000 to $149,999","$150,000 to $199,999","$200,000 or more",Year,Race
0,2020,"Anchorage Municipality, Alaska",6669,540,187,693,386,214,471,250,...,356,274,509,830,532,431,184,138,2013,AIAN
1,4001,"Apache County, Arizona",11382,3126,1288,811,1057,590,802,528,...,182,968,726,484,223,161,60,26,2013,AIAN
2,4005,"Coconino County, Arizona",9899,1574,667,1160,408,441,594,512,...,458,830,647,1394,277,356,208,7,2013,AIAN
3,4013,"Maricopa County, Arizona",20703,2842,1246,852,1566,1600,1035,712,...,858,1889,1747,2676,1681,403,231,165,2013,AIAN
4,4017,"Navajo County, Arizona",11588,2887,928,846,884,1024,558,760,...,372,734,857,650,328,51,88,86,2013,AIAN

In [8]:
# Import the census data into a pandas DataFrame
census_AIAN_2016_pd = pd.read_csv("census_data/AIAN/2106_AIAN_cleaned.csv")

# Preview the data
census_AIAN_2016_pd.head()

,CountyID,CountyName,TotalPopulation,"Less than $10,000","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999","$35,000 to $39,999",...,"$45,000 to $49,999","$50,000 to $59,999","$60,000 to $74,999","$75,000 to $99,999","$100,000 to $124,999","$125,000 to $149,999","$150,000 to $199,999","$200,000 or more",Year,Race
0,2020,"Anchorage Municipality, Alaska",6899,304,457,425,436,530,301,110,...,173,716,531,1162,398,408,334,236,2016,AIAN
1,4001,"Apache County, Arizona",13752,3922,1380,1083,803,759,747,575,...,552,772,770,1012,635,207,27,53,2016,AIAN
2,4005,"Coconino County, Arizona",9353,1626,615,437,696,501,441,301,...,331,583,658,1681,395,309,243,58,2016,AIAN
3,4013,"Maricopa County, Arizona",22961,1921,769,730,1098,1767,1849,1075,...,1375,1741,2121,3332,1184,615,1518,418,2016,AIAN
4,4017,"Navajo County, Arizona",12074,3403,1005,996,890,819,717,545,...,434,451,650,864,512,171,75,100,2016,AIAN

In [15]:
census_AIAN_total_pd=pd.concat([census_AIAN_2000_pd,census_AIAN_2005_pd,census_AIAN_2008_pd, census_AIAN_2010_pd, census_AIAN_2013_pd, census_AIAN_2016_pd],ignore_index=True,
            )
census_AIAN_total_pd.head()

,CountyID,CountyName,TotalPopulation,"Less than $10,000","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999","$35,000 to $39,999",...,"$45,000 to $49,999","$50,000 to $59,999","$60,000 to $74,999","$75,000 to $99,999","$100,000 to $124,999","$125,000 to $149,999","$150,000 to $199,999","$200,000 or more",Year,Race
0,2020,"Anchorage Municipality, Alaska",8091,837,939,363,222,748,585,475,...,405,632,954,346,489,492,58,408,2000,AIAN
1,4001,"Apache County, Arizona",12081,3130,1404,794,1152,553,790,476,...,303,890,620,780,166,176,35,25,2000,AIAN
2,4005,"Coconino County, Arizona",8367,1183,405,473,1000,847,557,872,...,439,670,393,606,187,46,159,0,2000,AIAN
3,4013,"Maricopa County, Arizona",20744,2536,947,1460,2111,1323,2227,1938,...,435,2307,1837,1945,457,244,104,55,2000,AIAN
4,4017,"Navajo County, Arizona",13271,3975,1255,707,1498,748,1117,412,...,336,822,1021,337,224,163,223,79,2000,AIAN

In [11]:
# # Save Data to csv
census_AIAN_total_pd.to_csv("census_data/census_AIAN_total_cleaned_pd.csv")