In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import time

In [2]:
# Import the census data into a pandas DataFrame
census_asian_2000_pd = pd.read_csv("census_data/Asian/DEC_00_SF3_P151D_with_ann.csv")

# Preview the data
census_asian_2000_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Less than $10,000","Margin of Error; Less than $10,000","Estimate; $10,000 to $14,999","Margin of Error; $10,000 to $14,999","Estimate; $15,000 to $19,999",...,"Estimate; $75,000 to $99,999","Margin of Error; $75,000 to $99,999","Estimate; $100,000 to $124,999","Margin of Error; $100,000 to $124,999","Estimate; $125,000 to $149,999","Margin of Error; $125,000 to $149,999","Estimate; $150,000 to $199,999","Margin of Error; $150,000 to $199,999","Estimate; $200,000 or more","Margin of Error; $200,000 or more"
0,0500000US01001,1001,"Autauga County, Alabama",43,NaN,5,NaN,0,NaN,10,...,6,NaN,7,NaN,0,NaN,0,NaN,0,NaN
1,0500000US01003,1003,"Baldwin County, Alabama",132,NaN,20,NaN,8,NaN,8,...,4,NaN,0,NaN,0,NaN,0,NaN,22,NaN
2,0500000US01005,1005,"Barbour County, Alabama",3,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN
3,0500000US01007,1007,"Bibb County, Alabama",6,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN
4,0500000US01009,1009,"Blount County, Alabama",35,NaN,3,NaN,0,NaN,0,...,1,NaN,0,NaN,0,NaN,6,NaN,14,NaN

In [3]:
census_asian_2000_pd["Year"] = "2000"
census_asian_2000_pd["Race"] = "Asian"
census_asian_2000_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Less than $10,000","Margin of Error; Less than $10,000","Estimate; $10,000 to $14,999","Margin of Error; $10,000 to $14,999","Estimate; $15,000 to $19,999",...,"Estimate; $100,000 to $124,999","Margin of Error; $100,000 to $124,999","Estimate; $125,000 to $149,999","Margin of Error; $125,000 to $149,999","Estimate; $150,000 to $199,999","Margin of Error; $150,000 to $199,999","Estimate; $200,000 or more","Margin of Error; $200,000 or more",Year,Race
0,0500000US01001,1001,"Autauga County, Alabama",43,NaN,5,NaN,0,NaN,10,...,7,NaN,0,NaN,0,NaN,0,NaN,2000,Asian
1,0500000US01003,1003,"Baldwin County, Alabama",132,NaN,20,NaN,8,NaN,8,...,0,NaN,0,NaN,0,NaN,22,NaN,2000,Asian
2,0500000US01005,1005,"Barbour County, Alabama",3,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,2000,Asian
3,0500000US01007,1007,"Bibb County, Alabama",6,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,2000,Asian
4,0500000US01009,1009,"Blount County, Alabama",35,NaN,3,NaN,0,NaN,0,...,0,NaN,0,NaN,6,NaN,14,NaN,2000,Asian

In [4]:
# Preview the data
census_asian_2000_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Less than $10,000","Margin of Error; Less than $10,000","Estimate; $10,000 to $14,999","Margin of Error; $10,000 to $14,999","Estimate; $15,000 to $19,999",...,"Estimate; $100,000 to $124,999","Margin of Error; $100,000 to $124,999","Estimate; $125,000 to $149,999","Margin of Error; $125,000 to $149,999","Estimate; $150,000 to $199,999","Margin of Error; $150,000 to $199,999","Estimate; $200,000 or more","Margin of Error; $200,000 or more",Year,Race
0,0500000US01001,1001,"Autauga County, Alabama",43,NaN,5,NaN,0,NaN,10,...,7,NaN,0,NaN,0,NaN,0,NaN,2000,Asian
1,0500000US01003,1003,"Baldwin County, Alabama",132,NaN,20,NaN,8,NaN,8,...,0,NaN,0,NaN,0,NaN,22,NaN,2000,Asian
2,0500000US01005,1005,"Barbour County, Alabama",3,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,2000,Asian
3,0500000US01007,1007,"Bibb County, Alabama",6,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,2000,Asian
4,0500000US01009,1009,"Blount County, Alabama",35,NaN,3,NaN,0,NaN,0,...,0,NaN,0,NaN,6,NaN,14,NaN,2000,Asian

In [5]:
# Import the census data into a pandas DataFrame
census_asian_2005_pd = pd.read_csv("census_data/Asian/ACS_05_EST_B19001D_with_ann.csv")

# Preview the data
census_asian_2005_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Less than $10,000","Margin of Error; Less than $10,000","Estimate; $10,000 to $14,999","Margin of Error; $10,000 to $14,999","Estimate; $15,000 to $19,999",...,"Estimate; $75,000 to $99,999","Margin of Error; $75,000 to $99,999","Estimate; $100,000 to $124,999","Margin of Error; $100,000 to $124,999","Estimate; $125,000 to $149,999","Margin of Error; $125,000 to $149,999","Estimate; $150,000 to $199,999","Margin of Error; $150,000 to $199,999","Estimate; $200,000 or more","Margin of Error; $200,000 or more"
0,0500000US01073,1073,"Jefferson County, Alabama",2773,470,47,82,37,69,343,...,184,177,102,130,293,269,122,133,66,113
1,0500000US02020,2020,"Anchorage Municipality, Alaska",5933,937,112,196,137,124,268,...,553,318,139,133,0,233,474,436,168,207
2,0500000US04013,4013,"Maricopa County, Arizona",33793,2015,2727,1139,830,450,1003,...,3985,885,2886,868,2881,963,1823,1012,1253,525
3,0500000US04019,4019,"Pima County, Arizona",7327,707,1025,481,314,248,581,...,826,372,346,230,101,120,221,176,176,151
4,0500000US06001,6001,"Alameda County, California",110554,3320,9461,1853,3835,1012,5149,...,15480,2298,12695,1818,8172,1159,9710,1512,8007,1240

In [6]:
census_asian_2005_pd["Year"] = "2005"
census_asian_2005_pd["Race"] = "Asian"
census_asian_2005_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Less than $10,000","Margin of Error; Less than $10,000","Estimate; $10,000 to $14,999","Margin of Error; $10,000 to $14,999","Estimate; $15,000 to $19,999",...,"Estimate; $100,000 to $124,999","Margin of Error; $100,000 to $124,999","Estimate; $125,000 to $149,999","Margin of Error; $125,000 to $149,999","Estimate; $150,000 to $199,999","Margin of Error; $150,000 to $199,999","Estimate; $200,000 or more","Margin of Error; $200,000 or more",Year,Race
0,0500000US01073,1073,"Jefferson County, Alabama",2773,470,47,82,37,69,343,...,102,130,293,269,122,133,66,113,2005,Asian
1,0500000US02020,2020,"Anchorage Municipality, Alaska",5933,937,112,196,137,124,268,...,139,133,0,233,474,436,168,207,2005,Asian
2,0500000US04013,4013,"Maricopa County, Arizona",33793,2015,2727,1139,830,450,1003,...,2886,868,2881,963,1823,1012,1253,525,2005,Asian
3,0500000US04019,4019,"Pima County, Arizona",7327,707,1025,481,314,248,581,...,346,230,101,120,221,176,176,151,2005,Asian
4,0500000US06001,6001,"Alameda County, California",110554,3320,9461,1853,3835,1012,5149,...,12695,1818,8172,1159,9710,1512,8007,1240,2005,Asian

In [7]:
# Import the census data into a pandas DataFrame
census_asian_2008_pd = pd.read_csv("census_data/Asian/ACS_08_1YR_B19001D_with_ann.csv")

# Preview the data
census_asian_2008_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Less than $10,000","Margin of Error; Less than $10,000","Estimate; $10,000 to $14,999","Margin of Error; $10,000 to $14,999","Estimate; $15,000 to $19,999",...,"Estimate; $75,000 to $99,999","Margin of Error; $75,000 to $99,999","Estimate; $100,000 to $124,999","Margin of Error; $100,000 to $124,999","Estimate; $125,000 to $149,999","Margin of Error; $125,000 to $149,999","Estimate; $150,000 to $199,999","Margin of Error; $150,000 to $199,999","Estimate; $200,000 or more","Margin of Error; $200,000 or more"
0,0500000US02020,2020,"Anchorage Municipality, Alaska",5943,610,287,258,323,302,352,...,1004,421,705,304,249,212,266,225,0,240
1,0500000US04013,4013,"Maricopa County, Arizona",34321,1884,1593,537,1172,545,680,...,5332,1174,5431,1213,2456,841,1733,564,2666,832
2,0500000US04019,4019,"Pima County, Arizona",9110,1112,1106,690,633,450,484,...,662,405,740,403,434,360,264,212,98,129
3,0500000US06001,6001,"Alameda County, California",110737,2770,5418,1256,4169,847,4001,...,14740,1963,14351,1859,9512,1598,11932,1831,11489,1451
4,0500000US06013,6013,"Contra Costa County, California",45055,1729,1829,707,1804,777,1042,...,5072,1022,5594,1058,4361,916,6161,1206,4733,1045

In [8]:
census_asian_2008_pd["Year"] = "2008"
census_asian_2008_pd["Race"] = "Asian"
census_asian_2008_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Less than $10,000","Margin of Error; Less than $10,000","Estimate; $10,000 to $14,999","Margin of Error; $10,000 to $14,999","Estimate; $15,000 to $19,999",...,"Estimate; $100,000 to $124,999","Margin of Error; $100,000 to $124,999","Estimate; $125,000 to $149,999","Margin of Error; $125,000 to $149,999","Estimate; $150,000 to $199,999","Margin of Error; $150,000 to $199,999","Estimate; $200,000 or more","Margin of Error; $200,000 or more",Year,Race
0,0500000US02020,2020,"Anchorage Municipality, Alaska",5943,610,287,258,323,302,352,...,705,304,249,212,266,225,0,240,2008,Asian
1,0500000US04013,4013,"Maricopa County, Arizona",34321,1884,1593,537,1172,545,680,...,5431,1213,2456,841,1733,564,2666,832,2008,Asian
2,0500000US04019,4019,"Pima County, Arizona",9110,1112,1106,690,633,450,484,...,740,403,434,360,264,212,98,129,2008,Asian
3,0500000US06001,6001,"Alameda County, California",110737,2770,5418,1256,4169,847,4001,...,14351,1859,9512,1598,11932,1831,11489,1451,2008,Asian
4,0500000US06013,6013,"Contra Costa County, California",45055,1729,1829,707,1804,777,1042,...,5594,1058,4361,916,6161,1206,4733,1045,2008,Asian

In [9]:
# Import the census data into a pandas DataFrame
census_asian_2010_pd = pd.read_csv("census_data/Asian/ACS_10_1YR_B19001D_with_ann.csv")

In [10]:
census_asian_2010_pd["Year"] = "2010"
census_asian_2010_pd["Race"] = "Asian"
census_asian_2010_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Less than $10,000","Margin of Error; Less than $10,000","Estimate; $10,000 to $14,999","Margin of Error; $10,000 to $14,999","Estimate; $15,000 to $19,999",...,"Estimate; $100,000 to $124,999","Margin of Error; $100,000 to $124,999","Estimate; $125,000 to $149,999","Margin of Error; $125,000 to $149,999","Estimate; $150,000 to $199,999","Margin of Error; $150,000 to $199,999","Estimate; $200,000 or more","Margin of Error; $200,000 or more",Year,Race
0,0500000US02020,2020,"Anchorage Municipality, Alaska",5956,924,252,220,542,461,375,...,530,332,294,204,438,301,125,137,2010,Asian
1,0500000US04013,4013,"Maricopa County, Arizona",38485,2171,2975,1129,661,468,686,...,4489,1252,3135,826,2226,710,2539,696,2010,Asian
2,0500000US04019,4019,"Pima County, Arizona",9716,1297,920,551,447,439,60,...,883,406,245,243,445,358,834,530,2010,Asian
3,0500000US06001,6001,"Alameda County, California",124265,3180,6763,1577,5530,1165,5618,...,14246,2018,9275,1513,12549,1672,13128,1395,2010,Asian
4,0500000US06013,6013,"Contra Costa County, California",45695,1976,1359,588,798,417,754,...,5353,900,3528,908,6093,904,6015,941,2010,Asian

In [11]:
# Import the census data into a pandas DataFrame
census_asian_2013_pd = pd.read_csv("census_data/Asian/ACS_13_1YR_B19001D_with_ann.csv")

In [12]:
census_asian_2013_pd["Year"] = "2013"
census_asian_2013_pd["Race"] = "Asian"
census_asian_2013_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Less than $10,000","Margin of Error; Less than $10,000","Estimate; $10,000 to $14,999","Margin of Error; $10,000 to $14,999","Estimate; $15,000 to $19,999",...,"Estimate; $100,000 to $124,999","Margin of Error; $100,000 to $124,999","Estimate; $125,000 to $149,999","Margin of Error; $125,000 to $149,999","Estimate; $150,000 to $199,999","Margin of Error; $150,000 to $199,999","Estimate; $200,000 or more","Margin of Error; $200,000 or more",Year,Race
0,0500000US01073,1073,"Jefferson County, Alabama",2750,551,56,99,279,272,0,...,291,235,283,242,211,186,250,199,2013,Asian
1,0500000US02020,2020,"Anchorage Municipality, Alaska",6016,885,70,120,181,181,340,...,399,330,707,385,837,516,457,389,2013,Asian
2,0500000US04013,4013,"Maricopa County, Arizona",46554,2333,3790,935,1281,522,1796,...,3695,839,3029,659,3915,941,4035,944,2013,Asian
3,0500000US04019,4019,"Pima County, Arizona",9867,1084,1632,691,202,236,647,...,455,312,367,259,807,528,97,117,2013,Asian
4,0500000US06001,6001,"Alameda County, California",136281,3185,8239,1379,5434,1230,5382,...,15553,1773,10931,1398,16121,1698,21265,2012,2013,Asian

In [13]:
# Import the census data into a pandas DataFrame
census_asian_2016_pd = pd.read_csv("census_data/Asian/ACS_16_1YR_B19001D_with_ann.csv")
census_asian_2016_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Less than $10,000","Margin of Error; Less than $10,000","Estimate; $10,000 to $14,999","Margin of Error; $10,000 to $14,999","Estimate; $15,000 to $19,999",...,"Estimate; $75,000 to $99,999","Margin of Error; $75,000 to $99,999","Estimate; $100,000 to $124,999","Margin of Error; $100,000 to $124,999","Estimate; $125,000 to $149,999","Margin of Error; $125,000 to $149,999","Estimate; $150,000 to $199,999","Margin of Error; $150,000 to $199,999","Estimate; $200,000 or more","Margin of Error; $200,000 or more"
0,0500000US02020,2020,"Anchorage Municipality, Alaska",7189,980,0,155,411,345,171,...,862,404,1137,580,519,440,434,372,563,259
1,0500000US04013,4013,"Maricopa County, Arizona",55747,2351,4313,1087,1380,544,1979,...,8172,1168,5247,1109,3730,888,4485,1195,5814,1150
2,0500000US04019,4019,"Pima County, Arizona",11076,1165,1520,637,706,364,269,...,1151,505,814,364,361,275,576,313,523,234
3,0500000US06001,6001,"Alameda County, California",152847,3133,7527,1067,5919,1103,3585,...,15553,1920,17774,2035,13267,1722,20648,1682,31397,2197
4,0500000US06013,6013,"Contra Costa County, California",55060,2124,1906,617,743,345,768,...,6546,978,6921,1142,4103,742,6966,1199,12401,1231

In [14]:
census_asian_2016_pd["Year"] = "2016"
census_asian_2016_pd["Race"] = "Asian"
census_asian_2016_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Less than $10,000","Margin of Error; Less than $10,000","Estimate; $10,000 to $14,999","Margin of Error; $10,000 to $14,999","Estimate; $15,000 to $19,999",...,"Estimate; $100,000 to $124,999","Margin of Error; $100,000 to $124,999","Estimate; $125,000 to $149,999","Margin of Error; $125,000 to $149,999","Estimate; $150,000 to $199,999","Margin of Error; $150,000 to $199,999","Estimate; $200,000 or more","Margin of Error; $200,000 or more",Year,Race
0,0500000US02020,2020,"Anchorage Municipality, Alaska",7189,980,0,155,411,345,171,...,1137,580,519,440,434,372,563,259,2016,Asian
1,0500000US04013,4013,"Maricopa County, Arizona",55747,2351,4313,1087,1380,544,1979,...,5247,1109,3730,888,4485,1195,5814,1150,2016,Asian
2,0500000US04019,4019,"Pima County, Arizona",11076,1165,1520,637,706,364,269,...,814,364,361,275,576,313,523,234,2016,Asian
3,0500000US06001,6001,"Alameda County, California",152847,3133,7527,1067,5919,1103,3585,...,17774,2035,13267,1722,20648,1682,31397,2197,2016,Asian
4,0500000US06013,6013,"Contra Costa County, California",55060,2124,1906,617,743,345,768,...,6921,1142,4103,742,6966,1199,12401,1231,2016,Asian

In [15]:
# Concatenate dataframes
census_asian_total_pd = pd.concat([census_asian_2000_pd, census_asian_2005_pd, census_asian_2008_pd, census_asian_2010_pd, census_asian_2013_pd, census_asian_2016_pd], ignore_index=True)
census_asian_total_pd

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Less than $10,000","Margin of Error; Less than $10,000","Estimate; $10,000 to $14,999","Margin of Error; $10,000 to $14,999","Estimate; $15,000 to $19,999",...,"Estimate; $100,000 to $124,999","Margin of Error; $100,000 to $124,999","Estimate; $125,000 to $149,999","Margin of Error; $125,000 to $149,999","Estimate; $150,000 to $199,999","Margin of Error; $150,000 to $199,999","Estimate; $200,000 or more","Margin of Error; $200,000 or more",Year,Race
0,0500000US01001,1001,"Autauga County, Alabama",43,NaN,5,NaN,0,NaN,10,...,7,NaN,0,NaN,0,NaN,0,NaN,2000,Asian
1,0500000US01003,1003,"Baldwin County, Alabama",132,NaN,20,NaN,8,NaN,8,...,0,NaN,0,NaN,0,NaN,22,NaN,2000,Asian
2,0500000US01005,1005,"Barbour County, Alabama",3,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,2000,Asian
3,0500000US01007,1007,"Bibb County, Alabama",6,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,2000,Asian
4,0500000US01009,1009,"Blount County, Alabama",35,NaN,3,NaN,0,NaN,0,...,0,NaN,0,NaN,6,NaN,14,NaN,2000,Asian
5,0500000US01011,1011,"Bullock County, Alabama",5,NaN,0,NaN,0,NaN,5,...,0,NaN,0,NaN,0,NaN,0,NaN,2000,Asian
6,0500000US01013,1013,"Butler County, Alabama",11,NaN,2,NaN,0,NaN,2,...,0,NaN,0,NaN,0,NaN,7,NaN,2000,Asian
7,0500000US01015,1015,"Calhoun County, Alabama",225,NaN,54,NaN,0,NaN,8,...,17,NaN,0,NaN,0,NaN,12,NaN,2000,Asian
8,0500000US01017,1017,"Chambers County, Alabama",0,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,2000,Asian
9,0500000US01019,1019,"Cherokee County, Alabama",19,NaN,0,NaN,0,NaN,8,...,0,NaN,2,NaN,0,NaN,0,NaN,2000,Asian
10,0500000US01021,1021,"Chilton County, Alabama",0,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,2000,Asian
11,0500000US01023,1023,"Choctaw County, Alabama",2,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,2000,Asian
12,0500000US01025,1025,"Clarke County, Alabama",34,NaN,15,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,10,NaN,2000,Asian
13,0500000US01027,1027,"Clay County, Alabama",0,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,2000,Asian
14,0500000US01029,1029,"Cleburne County, Alabama",0,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,2000,Asian
15,0500000US01031,1031,"Coffee County, Alabama",86,NaN,2,NaN,13,NaN,0,...,0,NaN,5,NaN,0,NaN,0,NaN,2000,Asian
16,0500000US01033,1033,"Colbert County, Alabama",45,NaN,0,NaN,7,NaN,10,...,0,NaN,0,NaN,0,NaN,11,NaN,2000,Asian
17,0500000US01035,1035,"Conecuh County, Alabama",12,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,6,NaN,0,NaN,2000,Asian
18,0500000US01037,1037,"Coosa County, Alabama",0,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,2000,Asian
19,0500000US01039,1039,"Covington County, Alabama",10,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,2000,Asian
20,0500000US01041,1041,"Crenshaw County, Alabama",0,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,2000,Asian
21,0500000US01043,1043,"Cullman County, Alabama",62,NaN,17,NaN,5,NaN,0,...,0,NaN,0,NaN,0,NaN,6,NaN,2000,Asian
22,0500000US01045,1045,"Dale County, Alabama",106,NaN,0,NaN,8,NaN,19,...,5,NaN,0,NaN,0,NaN,0,NaN,2000,Asian
23,0500000US01047,1047,"Dallas County, Alabama",53,NaN,8,NaN,0,NaN,0,...,0,NaN,0,NaN,9,NaN,0,NaN,2000,Asian
24,0500000US01049,1049,"DeKalb County, Alabama",36,NaN,12,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,12,NaN,2000,Asian
25,0500000US01051,1051,"Elmore County, Alabama",54,NaN,0,NaN,0,NaN,9,...,0,NaN,0,NaN,0,NaN,11,NaN,2000,Asian
26,0500000US01053,1053,"Escambia County, Alabama",34,NaN,0,NaN,0,NaN,2,...,0,NaN,0,NaN,0,NaN,0,NaN,2000,Asian
27,0500000US01055,1055,"Etowah County, Alabama",136,NaN,16,NaN,0,NaN,12,...,9,NaN,0,NaN,26,NaN,4,NaN,2000,Asian
28,0500000US01057,1057,"Fayette County, Alabama",15,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,2000,Asian
29,0500000US01059,1059,"Franklin County, Alabama",17,NaN,8,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,2000,Asian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3883,0500000US42101,42101,"Philadelphia County, Pennsylvania",34830,2088.0,4854,1075.0,1038,429.0,2154,...,1954,637.0,2559,934.0,1618,535.0,1268,392.0,2016,Asian
3884,0500000US44007,44007,"Providence County, Rhode Island",8490,1119.0,1071,595.0,431,313.0,99,...,822,484.0,688,511.0,403,301.0,464,292.0,2016,Asian
3885,0500000US47037,47037,"Davidson County, Tennessee",7916,866.0,554,364.0,181,223.0,385,...,442,270.0,840,454.0,1073,459.0,214,149.0,2016,Asian
3886,0500000US47157,47157,"Shelby County, Tennessee",7629,891.0,282,213.0,333,290.0,214,...,1061,566.0,773,589.0,474,275.0,606,353.0,2016,Asian
3887,0500000US48029,48029,"Bexar County, Texas",16288,1297.0,1226,545.0,655,406.0,384,...,1651,647.0,1205,519.0,727,335.0,1125,445.0,2016,Asian
3888,0500000US48041,48041,"Brazos County, Texas",4973,553.0,810,478.0,270,246.0,238,...,164,154.0,186,228.0,0,220.0,510,347.0,2016,Asian
3889,0500000US48085,48085,"Collin County, Texas",41231,1663.0,1587,691.0,466,334.0,1305,...,4741,1064.0,5545,1324.0,5936,1249.0,7389,1152.0,2016,Asian
3890,0500000US48113,48113,"Dallas County, Texas",54774,2206.0,2945,731.0,2074,944.0,1589,...,6884,1410.0,3435,893.0,4390,1011.0,6028,873.0,2016,Asian
3891,0500000US48121,48121,"Denton County, Texas",20267,1309.0,936,476.0,100,129.0,225,...,2222,670.0,1688,633.0,3009,1059.0,3123,882.0,2016,Asian
3892,0500000US48141,48141,"El Paso County, Texas",3640,720.0,169,158.0,0,220.0,60,...,236,175.0,176,187.0,0,220.0,290,207.0,2016,Asian
3893,0500000US48157,48157,"Fort Bend County, Texas",40220,1966.0,1312,607.0,197,243.0,322,...,4917,1299.0,5450,1247.0,7184,1683.0,6572,1323.0,2016,Asian
3894,0500000US48201,48201,"Harris County, Texas",106741,3270.0,6071,1374.0,4559,1310.0,3652,...,11570,1934.0,7976,1548.0,8996,1600.0,11507,1640.0,2016,Asian
3895,0500000US48439,48439,"Tarrant County, Texas",30962,2551.0,1724,616.0,1289,548.0,589,...,3570,849.0,2150,755.0,3402,1223.0,2839,833.0,2016,Asian
3896,0500000US48453,48453,"Travis County, Texas",27012,1888.0,2365,774.0,816,522.0,508,...,3307,804.0,2103,695.0,2082,651.0,3120,682.0,2016,Asian
3897,0500000US48491,48491,"Williamson County, Texas",9637,859.0,380,338.0,129,213.0,121,...,2069,663.0,711,407.0,1293,520.0,1151,459.0,2016,Asian
3898,0500000US49035,49035,"Salt Lake County, Utah",14003,1096.0,1015,392.0,155,137.0,912,...,1902,729.0,1146,504.0,1066,539.0,577,290.0,2016,Asian
3899,0500000US51013,51013,"Arlington County, Virginia",9220,1035.0,1042,475.0,214,257.0,151,...,1173,480.0,891,509.0,1258,529.0,1309,556.0,2016,Asian
3900,0500000US51059,51059,"Fairfax County, Virginia",68059,2272.0,2744,780.0,1282,598.0,1142,...,8545,1334.0,5890,908.0,9551,1339.0,13011,1339.0,2016,Asian
3901,0500000US51087,51087,"Henrico County, Virginia",8172,774.0,151,152.0,135,171.0,437,...,469,283.0,914,503.0,927,515.0,1415,620.0,2016,Asian
3902,0500000US51107,51107,"Loudoun County, Virginia",18587,1215.0,325,291.0,121,146.0,161,...,2131,603.0,1469,534.0,2981,731.0,7541,1224.0,2016,Asian
3903,0500000US51153,51153,"Prince William County, Virginia",10365,783.0,139,141.0,0,201.0,196,...,762,383.0,1186,503.0,1367,418.0,1477,498.0,2016,Asian
3904,0500000US51510,51510,"Alexandria city, Virginia",3306,690.0,130,127.0,0,201.0,36,...,735,457.0,180,152.0,400,326.0,430,294.0,2016,Asian
3905,0500000US51810,51810,"Virginia Beach city, Virginia",9066,978.0,215,221.0,19,32.0,335,...,963,395.0,875,500.0,640,318.0,850,380.0,2016,Asian
3906,0500000US53011,53011,"Clark County, Washington",6447,647.0,212,181.0,31,54.0,340,...,475,259.0,416,210.0,620,329.0,815,319.0,2016,Asian
3907,0500000US53033,53033,"King County, Washington",131091,3423.0,8398,1409.0,4854,1278.0,2829,...,14701,1921.0,10656,1584.0,15630,1942.0,21639,2113.0,2016,Asian
3908,0500000US53053,53053,"Pierce County, Washington",16576,1294.0,1274,550.0,592,313.0,453,...,1596,567.0,1116,484.0,689,265.0,1068,581.0,2016,Asian
3909,0500000US53061,53061,"Snohomish County, Washington",24678,1871.0,1524,543.0,237,209.0,640,...,4031,955.0,2448,743.0,2593,716.0,3141,760.0,2016,Asian
3910,0500000US53067,53067,"Thurston County, Washington",4771,721.0,407,374.0,246,289.0,231,...,385,304.0,382,274.0,261,212.0,325,245.0,2016,Asian
3911,0500000US55025,55025,"Dane County, Wisconsin",10584,887.0,1600,695.0,285,217.0,393,...,1951,706.0,809,467.0,998,526.0,526,328.0,2016,Asian
3912,0500000US55079,55079,"Milwaukee County, Wisconsin",12541,881.0,1571,541.0,634,270.0,433,...,956,394.0,867,456.0,1047,469.0,797,393.0,2016,Asian

In [16]:
# Save Data to csv
census_asian_total_pd.to_csv("census_data/census_asian_total_pd.csv")