In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import time

In [2]:
# Import the census data into a pandas DataFrame
census_asian_2000_pd = pd.read_csv("census_data/Asian/DEC_00_SF3_P151D_with_ann.csv")

# Preview the data
census_asian_2000_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Less than $10,000","Margin of Error; Less than $10,000","Estimate; $10,000 to $14,999","Margin of Error; $10,000 to $14,999","Estimate; $15,000 to $19,999",...,"Estimate; $75,000 to $99,999","Margin of Error; $75,000 to $99,999","Estimate; $100,000 to $124,999","Margin of Error; $100,000 to $124,999","Estimate; $125,000 to $149,999","Margin of Error; $125,000 to $149,999","Estimate; $150,000 to $199,999","Margin of Error; $150,000 to $199,999","Estimate; $200,000 or more","Margin of Error; $200,000 or more"
0,0500000US01001,1001,"Autauga County, Alabama",43,NaN,5,NaN,0,NaN,10,...,6,NaN,7,NaN,0,NaN,0,NaN,0,NaN
1,0500000US01003,1003,"Baldwin County, Alabama",132,NaN,20,NaN,8,NaN,8,...,4,NaN,0,NaN,0,NaN,0,NaN,22,NaN
2,0500000US01005,1005,"Barbour County, Alabama",3,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN
3,0500000US01007,1007,"Bibb County, Alabama",6,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN
4,0500000US01009,1009,"Blount County, Alabama",35,NaN,3,NaN,0,NaN,0,...,1,NaN,0,NaN,0,NaN,6,NaN,14,NaN

In [3]:
census_asian_2000_pd["Year"] = "2000"
census_asian_2000_pd["Race"] = "Asian"
census_asian_2000_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Less than $10,000","Margin of Error; Less than $10,000","Estimate; $10,000 to $14,999","Margin of Error; $10,000 to $14,999","Estimate; $15,000 to $19,999",...,"Estimate; $100,000 to $124,999","Margin of Error; $100,000 to $124,999","Estimate; $125,000 to $149,999","Margin of Error; $125,000 to $149,999","Estimate; $150,000 to $199,999","Margin of Error; $150,000 to $199,999","Estimate; $200,000 or more","Margin of Error; $200,000 or more",Year,Race
0,0500000US01001,1001,"Autauga County, Alabama",43,NaN,5,NaN,0,NaN,10,...,7,NaN,0,NaN,0,NaN,0,NaN,2000,Asian
1,0500000US01003,1003,"Baldwin County, Alabama",132,NaN,20,NaN,8,NaN,8,...,0,NaN,0,NaN,0,NaN,22,NaN,2000,Asian
2,0500000US01005,1005,"Barbour County, Alabama",3,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,2000,Asian
3,0500000US01007,1007,"Bibb County, Alabama",6,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,2000,Asian
4,0500000US01009,1009,"Blount County, Alabama",35,NaN,3,NaN,0,NaN,0,...,0,NaN,0,NaN,6,NaN,14,NaN,2000,Asian

In [4]:
# Preview the data
census_asian_2000_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Less than $10,000","Margin of Error; Less than $10,000","Estimate; $10,000 to $14,999","Margin of Error; $10,000 to $14,999","Estimate; $15,000 to $19,999",...,"Estimate; $100,000 to $124,999","Margin of Error; $100,000 to $124,999","Estimate; $125,000 to $149,999","Margin of Error; $125,000 to $149,999","Estimate; $150,000 to $199,999","Margin of Error; $150,000 to $199,999","Estimate; $200,000 or more","Margin of Error; $200,000 or more",Year,Race
0,0500000US01001,1001,"Autauga County, Alabama",43,NaN,5,NaN,0,NaN,10,...,7,NaN,0,NaN,0,NaN,0,NaN,2000,Asian
1,0500000US01003,1003,"Baldwin County, Alabama",132,NaN,20,NaN,8,NaN,8,...,0,NaN,0,NaN,0,NaN,22,NaN,2000,Asian
2,0500000US01005,1005,"Barbour County, Alabama",3,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,2000,Asian
3,0500000US01007,1007,"Bibb County, Alabama",6,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,2000,Asian
4,0500000US01009,1009,"Blount County, Alabama",35,NaN,3,NaN,0,NaN,0,...,0,NaN,0,NaN,6,NaN,14,NaN,2000,Asian

In [5]:
# Import the census data into a pandas DataFrame
census_asian_2005_pd = pd.read_csv("census_data/Asian/ACS_05_EST_B19001D_with_ann.csv")

# Preview the data
census_asian_2005_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Less than $10,000","Margin of Error; Less than $10,000","Estimate; $10,000 to $14,999","Margin of Error; $10,000 to $14,999","Estimate; $15,000 to $19,999",...,"Estimate; $75,000 to $99,999","Margin of Error; $75,000 to $99,999","Estimate; $100,000 to $124,999","Margin of Error; $100,000 to $124,999","Estimate; $125,000 to $149,999","Margin of Error; $125,000 to $149,999","Estimate; $150,000 to $199,999","Margin of Error; $150,000 to $199,999","Estimate; $200,000 or more","Margin of Error; $200,000 or more"
0,0500000US01073,1073,"Jefferson County, Alabama",2773,470,47,82,37,69,343,...,184,177,102,130,293,269,122,133,66,113
1,0500000US02020,2020,"Anchorage Municipality, Alaska",5933,937,112,196,137,124,268,...,553,318,139,133,0,233,474,436,168,207
2,0500000US04013,4013,"Maricopa County, Arizona",33793,2015,2727,1139,830,450,1003,...,3985,885,2886,868,2881,963,1823,1012,1253,525
3,0500000US04019,4019,"Pima County, Arizona",7327,707,1025,481,314,248,581,...,826,372,346,230,101,120,221,176,176,151
4,0500000US06001,6001,"Alameda County, California",110554,3320,9461,1853,3835,1012,5149,...,15480,2298,12695,1818,8172,1159,9710,1512,8007,1240

In [6]:
census_asian_2005_pd["Year"] = "2005"
census_asian_2005_pd["Race"] = "Asian"
census_asian_2005_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Less than $10,000","Margin of Error; Less than $10,000","Estimate; $10,000 to $14,999","Margin of Error; $10,000 to $14,999","Estimate; $15,000 to $19,999",...,"Estimate; $100,000 to $124,999","Margin of Error; $100,000 to $124,999","Estimate; $125,000 to $149,999","Margin of Error; $125,000 to $149,999","Estimate; $150,000 to $199,999","Margin of Error; $150,000 to $199,999","Estimate; $200,000 or more","Margin of Error; $200,000 or more",Year,Race
0,0500000US01073,1073,"Jefferson County, Alabama",2773,470,47,82,37,69,343,...,102,130,293,269,122,133,66,113,2005,Asian
1,0500000US02020,2020,"Anchorage Municipality, Alaska",5933,937,112,196,137,124,268,...,139,133,0,233,474,436,168,207,2005,Asian
2,0500000US04013,4013,"Maricopa County, Arizona",33793,2015,2727,1139,830,450,1003,...,2886,868,2881,963,1823,1012,1253,525,2005,Asian
3,0500000US04019,4019,"Pima County, Arizona",7327,707,1025,481,314,248,581,...,346,230,101,120,221,176,176,151,2005,Asian
4,0500000US06001,6001,"Alameda County, California",110554,3320,9461,1853,3835,1012,5149,...,12695,1818,8172,1159,9710,1512,8007,1240,2005,Asian

In [7]:
# Import the census data into a pandas DataFrame
census_asian_2008_pd = pd.read_csv("census_data/Asian/ACS_08_1YR_B19001D_with_ann.csv")

# Preview the data
census_asian_2008_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Less than $10,000","Margin of Error; Less than $10,000","Estimate; $10,000 to $14,999","Margin of Error; $10,000 to $14,999","Estimate; $15,000 to $19,999",...,"Estimate; $75,000 to $99,999","Margin of Error; $75,000 to $99,999","Estimate; $100,000 to $124,999","Margin of Error; $100,000 to $124,999","Estimate; $125,000 to $149,999","Margin of Error; $125,000 to $149,999","Estimate; $150,000 to $199,999","Margin of Error; $150,000 to $199,999","Estimate; $200,000 or more","Margin of Error; $200,000 or more"
0,0500000US02020,2020,"Anchorage Municipality, Alaska",5943,610,287,258,323,302,352,...,1004,421,705,304,249,212,266,225,0,240
1,0500000US04013,4013,"Maricopa County, Arizona",34321,1884,1593,537,1172,545,680,...,5332,1174,5431,1213,2456,841,1733,564,2666,832
2,0500000US04019,4019,"Pima County, Arizona",9110,1112,1106,690,633,450,484,...,662,405,740,403,434,360,264,212,98,129
3,0500000US06001,6001,"Alameda County, California",110737,2770,5418,1256,4169,847,4001,...,14740,1963,14351,1859,9512,1598,11932,1831,11489,1451
4,0500000US06013,6013,"Contra Costa County, California",45055,1729,1829,707,1804,777,1042,...,5072,1022,5594,1058,4361,916,6161,1206,4733,1045

In [8]:
census_asian_2008_pd["Year"] = "2008"
census_asian_2008_pd["Race"] = "Asian"
census_asian_2008_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Less than $10,000","Margin of Error; Less than $10,000","Estimate; $10,000 to $14,999","Margin of Error; $10,000 to $14,999","Estimate; $15,000 to $19,999",...,"Estimate; $100,000 to $124,999","Margin of Error; $100,000 to $124,999","Estimate; $125,000 to $149,999","Margin of Error; $125,000 to $149,999","Estimate; $150,000 to $199,999","Margin of Error; $150,000 to $199,999","Estimate; $200,000 or more","Margin of Error; $200,000 or more",Year,Race
0,0500000US02020,2020,"Anchorage Municipality, Alaska",5943,610,287,258,323,302,352,...,705,304,249,212,266,225,0,240,2008,Asian
1,0500000US04013,4013,"Maricopa County, Arizona",34321,1884,1593,537,1172,545,680,...,5431,1213,2456,841,1733,564,2666,832,2008,Asian
2,0500000US04019,4019,"Pima County, Arizona",9110,1112,1106,690,633,450,484,...,740,403,434,360,264,212,98,129,2008,Asian
3,0500000US06001,6001,"Alameda County, California",110737,2770,5418,1256,4169,847,4001,...,14351,1859,9512,1598,11932,1831,11489,1451,2008,Asian
4,0500000US06013,6013,"Contra Costa County, California",45055,1729,1829,707,1804,777,1042,...,5594,1058,4361,916,6161,1206,4733,1045,2008,Asian

In [9]:
# Import the census data into a pandas DataFrame
census_asian_2010_pd = pd.read_csv("census_data/Asian/ACS_10_1YR_B19001D_with_ann.csv")

In [10]:
census_asian_2010_pd["Year"] = "2010"
census_asian_2010_pd["Race"] = "Asian"
census_asian_2010_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Less than $10,000","Margin of Error; Less than $10,000","Estimate; $10,000 to $14,999","Margin of Error; $10,000 to $14,999","Estimate; $15,000 to $19,999",...,"Estimate; $100,000 to $124,999","Margin of Error; $100,000 to $124,999","Estimate; $125,000 to $149,999","Margin of Error; $125,000 to $149,999","Estimate; $150,000 to $199,999","Margin of Error; $150,000 to $199,999","Estimate; $200,000 or more","Margin of Error; $200,000 or more",Year,Race
0,0500000US02020,2020,"Anchorage Municipality, Alaska",5956,924,252,220,542,461,375,...,530,332,294,204,438,301,125,137,2010,Asian
1,0500000US04013,4013,"Maricopa County, Arizona",38485,2171,2975,1129,661,468,686,...,4489,1252,3135,826,2226,710,2539,696,2010,Asian
2,0500000US04019,4019,"Pima County, Arizona",9716,1297,920,551,447,439,60,...,883,406,245,243,445,358,834,530,2010,Asian
3,0500000US06001,6001,"Alameda County, California",124265,3180,6763,1577,5530,1165,5618,...,14246,2018,9275,1513,12549,1672,13128,1395,2010,Asian
4,0500000US06013,6013,"Contra Costa County, California",45695,1976,1359,588,798,417,754,...,5353,900,3528,908,6093,904,6015,941,2010,Asian

In [11]:
# Import the census data into a pandas DataFrame
census_asian_2013_pd = pd.read_csv("census_data/Asian/ACS_13_1YR_B19001D_with_ann.csv")

In [12]:
census_asian_2013_pd["Year"] = "2013"
census_asian_2013_pd["Race"] = "Asian"
census_asian_2013_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Less than $10,000","Margin of Error; Less than $10,000","Estimate; $10,000 to $14,999","Margin of Error; $10,000 to $14,999","Estimate; $15,000 to $19,999",...,"Estimate; $100,000 to $124,999","Margin of Error; $100,000 to $124,999","Estimate; $125,000 to $149,999","Margin of Error; $125,000 to $149,999","Estimate; $150,000 to $199,999","Margin of Error; $150,000 to $199,999","Estimate; $200,000 or more","Margin of Error; $200,000 or more",Year,Race
0,0500000US01073,1073,"Jefferson County, Alabama",2750,551,56,99,279,272,0,...,291,235,283,242,211,186,250,199,2013,Asian
1,0500000US02020,2020,"Anchorage Municipality, Alaska",6016,885,70,120,181,181,340,...,399,330,707,385,837,516,457,389,2013,Asian
2,0500000US04013,4013,"Maricopa County, Arizona",46554,2333,3790,935,1281,522,1796,...,3695,839,3029,659,3915,941,4035,944,2013,Asian
3,0500000US04019,4019,"Pima County, Arizona",9867,1084,1632,691,202,236,647,...,455,312,367,259,807,528,97,117,2013,Asian
4,0500000US06001,6001,"Alameda County, California",136281,3185,8239,1379,5434,1230,5382,...,15553,1773,10931,1398,16121,1698,21265,2012,2013,Asian

In [13]:
# Import the census data into a pandas DataFrame
census_asian_2016_pd = pd.read_csv("census_data/Asian/ACS_16_1YR_B19001D_with_ann.csv")
census_asian_2016_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Less than $10,000","Margin of Error; Less than $10,000","Estimate; $10,000 to $14,999","Margin of Error; $10,000 to $14,999","Estimate; $15,000 to $19,999",...,"Estimate; $75,000 to $99,999","Margin of Error; $75,000 to $99,999","Estimate; $100,000 to $124,999","Margin of Error; $100,000 to $124,999","Estimate; $125,000 to $149,999","Margin of Error; $125,000 to $149,999","Estimate; $150,000 to $199,999","Margin of Error; $150,000 to $199,999","Estimate; $200,000 or more","Margin of Error; $200,000 or more"
0,0500000US02020,2020,"Anchorage Municipality, Alaska",7189,980,0,155,411,345,171,...,862,404,1137,580,519,440,434,372,563,259
1,0500000US04013,4013,"Maricopa County, Arizona",55747,2351,4313,1087,1380,544,1979,...,8172,1168,5247,1109,3730,888,4485,1195,5814,1150
2,0500000US04019,4019,"Pima County, Arizona",11076,1165,1520,637,706,364,269,...,1151,505,814,364,361,275,576,313,523,234
3,0500000US06001,6001,"Alameda County, California",152847,3133,7527,1067,5919,1103,3585,...,15553,1920,17774,2035,13267,1722,20648,1682,31397,2197
4,0500000US06013,6013,"Contra Costa County, California",55060,2124,1906,617,743,345,768,...,6546,978,6921,1142,4103,742,6966,1199,12401,1231

In [14]:
census_asian_2016_pd["Year"] = "2016"
census_asian_2016_pd["Race"] = "Asian"
census_asian_2016_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Less than $10,000","Margin of Error; Less than $10,000","Estimate; $10,000 to $14,999","Margin of Error; $10,000 to $14,999","Estimate; $15,000 to $19,999",...,"Estimate; $100,000 to $124,999","Margin of Error; $100,000 to $124,999","Estimate; $125,000 to $149,999","Margin of Error; $125,000 to $149,999","Estimate; $150,000 to $199,999","Margin of Error; $150,000 to $199,999","Estimate; $200,000 or more","Margin of Error; $200,000 or more",Year,Race
0,0500000US02020,2020,"Anchorage Municipality, Alaska",7189,980,0,155,411,345,171,...,1137,580,519,440,434,372,563,259,2016,Asian
1,0500000US04013,4013,"Maricopa County, Arizona",55747,2351,4313,1087,1380,544,1979,...,5247,1109,3730,888,4485,1195,5814,1150,2016,Asian
2,0500000US04019,4019,"Pima County, Arizona",11076,1165,1520,637,706,364,269,...,814,364,361,275,576,313,523,234,2016,Asian
3,0500000US06001,6001,"Alameda County, California",152847,3133,7527,1067,5919,1103,3585,...,17774,2035,13267,1722,20648,1682,31397,2197,2016,Asian
4,0500000US06013,6013,"Contra Costa County, California",55060,2124,1906,617,743,345,768,...,6921,1142,4103,742,6966,1199,12401,1231,2016,Asian

In [15]:
# Concatenate dataframes
census_asian_total_pd = pd.concat([census_asian_2000_pd, census_asian_2005_pd, census_asian_2008_pd, census_asian_2010_pd, census_asian_2013_pd, census_asian_2016_pd], ignore_index=True)
census_asian_total_pd.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Less than $10,000","Margin of Error; Less than $10,000","Estimate; $10,000 to $14,999","Margin of Error; $10,000 to $14,999","Estimate; $15,000 to $19,999",...,"Estimate; $100,000 to $124,999","Margin of Error; $100,000 to $124,999","Estimate; $125,000 to $149,999","Margin of Error; $125,000 to $149,999","Estimate; $150,000 to $199,999","Margin of Error; $150,000 to $199,999","Estimate; $200,000 or more","Margin of Error; $200,000 or more",Year,Race
0,0500000US01001,1001,"Autauga County, Alabama",43,NaN,5,NaN,0,NaN,10,...,7,NaN,0,NaN,0,NaN,0,NaN,2000,Asian
1,0500000US01003,1003,"Baldwin County, Alabama",132,NaN,20,NaN,8,NaN,8,...,0,NaN,0,NaN,0,NaN,22,NaN,2000,Asian
2,0500000US01005,1005,"Barbour County, Alabama",3,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,2000,Asian
3,0500000US01007,1007,"Bibb County, Alabama",6,NaN,0,NaN,0,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,2000,Asian
4,0500000US01009,1009,"Blount County, Alabama",35,NaN,3,NaN,0,NaN,0,...,0,NaN,0,NaN,6,NaN,14,NaN,2000,Asian

In [18]:
# Save Data to csv
census_asian_total_pd.to_csv("census_data/census_asian_total_pd.csv")